.tree-diagram {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  position: relative;
  &__guide {
    padding-top: 10vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}
.tree-diagram-canvas {
  height: calc(100vh - 200px);
  width: 100%;
  display: inline-block;
  position: relative;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.node circle {
  fill: white;
  stroke: black;
  stroke-width: 2px;
  z-index: 10;
  position: relative;
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  position: relative;
}
.tree-diagram {
  display: none;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
rect {
  fill: white;
  stroke: none;
}
