* {
  font-size: 62.5%;
}
body,
p,
ul,
li,
a,
div,
.header-p {
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
h1 {
  @include fontSize(100);
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.header-p {
  @include fontSize(24);

  font-style: italic;
  margin-top: 6rem;
}

.section__guide__list,
.section__ideas li {
  @include fontSize(20);
  line-height: 30px;
  font-style: italic;
}
input[type="text"] {
  @include fontSize(17);
  line-height: 30px;
  font-style: italic;
}
button[type="submit"] i {
  @include fontSize(20);
  line-height: 30px;
}
